interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>VCR.py &mdash; vcrpy 1.7.4 documentation</title>\n  \n\n \
        \ \n  \n\n  \n\n  \n  \n    \n\n  \n\n  \n  \n\n  \n    <link rel=\"stylesheet\"\
        \ href=\"https://media.readthedocs.org/css/sphinx_rtd_theme.css\" type=\"\
        text/css\" />\n  \n\n  \n    <link rel=\"top\" title=\"vcrpy 1.7.4 documentation\"\
        \ href=\"#\"/>\n        <link rel=\"next\" title=\"Installation\" href=\"\
        installation.html\"/> \n\n  \n  <script src=\"_static/js/modernizr.min.js\"\
        ></script>\n\n\n<!-- RTD Extra Head -->\n\n<!-- \nAlways link to the latest\
        \ version, as canonical.\nhttp://docs.readthedocs.org/en/latest/canonical.html\n\
        -->\n<link rel=\"canonical\" href=\"http://vcrpy.readthedocs.io/en/latest/\"\
        \ />\n\n<link rel=\"stylesheet\" href=\"https://media.readthedocs.org/css/readthedocs-doc-embed.css\"\
        \ type=\"text/css\" />\n\n<script type=\"text/javascript\" src=\"_static/readthedocs-data.js\"\
        ></script>\n\n<!-- Add page-specific data, which must exist in the page js,\
        \ not global -->\n<script type=\"text/javascript\">\nREADTHEDOCS_DATA['page']\
        \ = 'index'\n</script>\n\n<script type=\"text/javascript\" src=\"_static/readthedocs-dynamic-include.js\"\
        ></script>\n\n<!-- end RTD <extrahead> --></head>\n\n<body class=\"wy-body-for-nav\"\
        \ role=\"document\">\n\n  <div class=\"wy-grid-for-nav\">\n\n    \n    <nav\
        \ data-toggle=\"wy-nav-shift\" class=\"wy-nav-side\">\n      <div class=\"\
        wy-side-scroll\">\n        <div class=\"wy-side-nav-search\">\n          \n\
        \n          \n            <a href=\"#\" class=\"icon icon-home\"> vcrpy\n\
        \          \n\n          \n          </a>\n\n          \n            \n  \
        \          \n            \n              <div class=\"version\">\n       \
        \         latest\n              </div>\n            \n          \n\n     \
        \     \n<div role=\"search\">\n  <form id=\"rtd-search-form\" class=\"wy-form\"\
        \ action=\"search.html\" method=\"get\">\n    <input type=\"text\" name=\"\
        q\" placeholder=\"Search docs\" />\n    <input type=\"hidden\" name=\"check_keywords\"\
        \ value=\"yes\" />\n    <input type=\"hidden\" name=\"area\" value=\"default\"\
        \ />\n  </form>\n</div>\n\n          \n        </div>\n\n        <div class=\"\
        wy-menu wy-menu-vertical\" data-spy=\"affix\" role=\"navigation\" aria-label=\"\
        main navigation\">\n          \n            \n            \n             \
        \   <ul>\n<li class=\"toctree-l1\"><a class=\"reference internal\" href=\"\
        installation.html\">Installation</a></li>\n<li class=\"toctree-l1\"><a class=\"\
        reference internal\" href=\"usage.html\">Usage</a></li>\n<li class=\"toctree-l1\"\
        ><a class=\"reference internal\" href=\"configuration.html\">Configuration</a></li>\n\
        <li class=\"toctree-l1\"><a class=\"reference internal\" href=\"advanced.html\"\
        >Advanced Features</a></li>\n<li class=\"toctree-l1\"><a class=\"reference\
        \ internal\" href=\"api.html\">API</a></li>\n<li class=\"toctree-l1\"><a class=\"\
        reference internal\" href=\"debugging.html\">Debugging</a></li>\n<li class=\"\
        toctree-l1\"><a class=\"reference internal\" href=\"contributing.html\">Contributing</a></li>\n\
        <li class=\"toctree-l1\"><a class=\"reference internal\" href=\"changelog.html\"\
        >Changelog</a></li>\n</ul>\n\n            \n          \n        </div>\n \
        \     </div>\n    </nav>\n\n    <section data-toggle=\"wy-nav-shift\" class=\"\
        wy-nav-content-wrap\">\n\n      \n      <nav class=\"wy-nav-top\" role=\"\
        navigation\" aria-label=\"top navigation\">\n        <i data-toggle=\"wy-nav-top\"\
        \ class=\"fa fa-bars\"></i>\n        <a href=\"#\">vcrpy</a>\n      </nav>\n\
        \n\n      \n      <div class=\"wy-nav-content\">\n        <div class=\"rst-content\"\
        >\n          \n\n\n\n\n\n<div role=\"navigation\" aria-label=\"breadcrumbs\
        \ navigation\">\n  <ul class=\"wy-breadcrumbs\">\n    <li><a href=\"#\">Docs</a>\
        \ &raquo;</li>\n      \n    <li>VCR.py</li>\n      <li class=\"wy-breadcrumbs-aside\"\
        >\n        \n          \n            <a href=\"https://github.com/kevin1024/vcrpy/blob/master/docs/index.rst\"\
        \ class=\"fa fa-github\"> Edit on GitHub</a>\n          \n        \n     \
        \ </li>\n  </ul>\n  <hr/>\n</div>\n          <div role=\"main\" class=\"document\"\
        \ itemscope=\"itemscope\" itemtype=\"http://schema.org/Article\">\n      \
        \     <div itemprop=\"articleBody\">\n            \n  <p><a class=\"reference\
        \ external\" href=\"https://pypi.python.org/pypi/vcrpy-unittest\"><img alt=\"\
        PyPI\" src=\"https://img.shields.io/pypi/v/vcrpy.svg\" /></a> <a class=\"\
        reference external\" href=\"http://travis-ci.org/kevin1024/vcrpy\"><img alt=\"\
        Build Status\" src=\"https://secure.travis-ci.org/kevin1024/vcrpy.png?branch=master\"\
        \ /></a> <a class=\"reference external\" href=\"https://waffle.io/kevin1024/vcrpy\"\
        ><img alt=\"Waffle Ready\" src=\"https://badge.waffle.io/kevin1024/vcrpy.png?label=ready&amp;title=waffle\"\
        \ /></a> <a class=\"reference external\" href=\"https://gitter.im/kevin1024/vcrpy?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge\"\
        ><img alt=\"Join the chat at https://gitter.im/kevin1024/vcrpy\" src=\"https://badges.gitter.im/Join%20Chat.svg\"\
        \ /></a></p>\n<div class=\"section\" id=\"vcr-py\">\n<h1>VCR.py<a class=\"\
        headerlink\" href=\"#vcr-py\" title=\"Permalink to this headline\">\xB6</a></h1>\n\
        <img alt=\"vcr.py\" src=\"https://raw.github.com/kevin1024/vcrpy/master/vcr.png\"\
        \ />\n<p>This is a Python version of <a class=\"reference external\" href=\"\
        https://github.com/vcr/vcr\">Ruby&#8217;s VCR\nlibrary</a>.</p>\n<dl class=\"\
        docutils\">\n<dt>Source code</dt>\n<dd><a class=\"reference external\" href=\"\
        https://github.com/kevin1024/vcrpy\">https://github.com/kevin1024/vcrpy</a></dd>\n\
        <dt>Documentation</dt>\n<dd><a class=\"reference external\" href=\"https://vcrpy.readthedocs.io/\"\
        >https://vcrpy.readthedocs.io/</a></dd>\n</dl>\n<div class=\"section\" id=\"\
        rationale\">\n<h2>Rationale<a class=\"headerlink\" href=\"#rationale\" title=\"\
        Permalink to this headline\">\xB6</a></h2>\n<p>VCR.py simplifies and speeds\
        \ up tests that make HTTP requests. The\nfirst time you run code that is inside\
        \ a VCR.py context manager or\ndecorated function, VCR.py records all HTTP\
        \ interactions that take\nplace through the libraries it supports and serializes\
        \ and writes them\nto a flat file (in yaml format by default). This flat file\
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/LICENSE.txt
  response:
    body: {string: "\n\n\n<!DOCTYPE html>\n<html>\n\n<head>\n\n  <!-- meta -->\n \
        \ <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><script\
        \ type=\"text/javascript\">window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function\
        \ r(n){if(!t[n]){var o=t[n]={exports:{}};e[n][0].call(o.exports,function(t){var\
        \ o=e[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/py-modindex.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Python[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/installation.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Insta[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/contributing.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Contr[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/configuration.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Conf[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/api.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>API &mdash; vc[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/usage.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Usage &mdash[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/changelog.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Changelo[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/advanced.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Advanced [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/index.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>VCR.py &mdas[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/search.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Search &mda[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/debugging.html
  response:
    body: {string: "\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Debuggin[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://vcrpy.readthedocs.io/en/latest/genindex.html
  response:
    body: {string: "\n\n\n<!DOCTYPE html>\n<!--[if IE 8]><html class=\"no-js lt-ie9\"\
        \ lang=\"en\" > <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"\
        \ lang=\"en\" > <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  \n\
        \  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n  \n  <title>Index &[...]
